
<form (ngSubmit)="onSubmit()" #form>
    <app-control  label="Title">
        <!-- keep the input field -->
    <input name="title" id="title"  #input [(ngModel)]="enteredTitle" />
    </app-control>
    <app-control label="Request">
        <!-- keep the text area -->
        <textarea name="request" id="request" rows="3"  #input [(ngModel)]="enteredText"></textarea>
    </app-control>
    <p>
        <button appButton>
         Submit
        <span class="icon">⌲</span>
        </button>
    </p>
</form>
